kestra/flows/polar_debris_etl.yml
id: polar_debris_etl
namespace: polar_debris

description: |
  ETL Pipeline for UK Polar Data Centre - Signy Beach Debris
  Source: https://ramadda.data.bas.ac.uk
  Columns: LOCATION, SITE, SEASON, SAMPLE_PERIOD, SAMPLE_DATE,
           DEBRIS_TYPE, DEBRIS_DESCRIPTION, NO_ITEMS, WEIGHT_KG,
           DEBRIS_SIZE, COMMENTS
  Note: First 30 rows are metadata, row 31 is header, data starts row 32

variables:
  file: "signy_beach_debris.csv"
  gcs_file: "gs://{{kv('GCP_BUCKET_NAME')}}/raw/{{vars.file}}"
  table: "{{kv('GCP_DATASET')}}.raw_beach_debris"
  data: "{{outputs.extract.outputFiles['signy_beach_debris.csv']}}"

tasks:

  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO signy_beach_debris.csv "https://ramadda.data.bas.ac.uk/repository/entry/get/signy_beach_debris.csv?entryid=synth%3Aee9ce4f4-cad6-4c2e-bc06-4757dc87f7e4%3AL3NpZ255X2JlYWNoX2RlYnJpcy5jc3Y%3D"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{render(vars.data)}}"
    to: "{{render(vars.gcs_file)}}"

  - id: bq_create_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.beach_debris`
      (
        unique_row_id BYTES OPTIONS (description = 'Unique identifier generated by hashing key attributes'),
        filename STRING OPTIONS (description = 'Source filename'),
        LOCATION STRING OPTIONS (description = 'General location of the survey'),
        SITE STRING OPTIONS (description = 'Specific site name within location'),
        SEASON STRING OPTIONS (description = 'Season when survey was conducted'),
        SAMPLE_PERIOD STRING OPTIONS (description = 'Sample period identifier'),
        SAMPLE_DATE DATE OPTIONS (description = 'Date when sample was collected'),
        DEBRIS_TYPE STRING OPTIONS (description = 'Category/type of debris found'),
        DEBRIS_DESCRIPTION STRING OPTIONS (description = 'Detailed description of debris'),
        NO_ITEMS INT64 OPTIONS (description = 'Number of debris items found'),
        WEIGHT_KG FLOAT64 OPTIONS (description = 'Weight of debris in kilograms'),
        DEBRIS_SIZE STRING OPTIONS (description = 'Size classification of debris'),
        COMMENTS STRING OPTIONS (description = 'Additional comments or notes')
      )

  - id: bq_create_external_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`
      OPTIONS (
        format = 'CSV',
        uris = ['{{render(vars.gcs_file)}}'],
        skip_leading_rows = 31,
        ignore_unknown_values = FALSE,
        allow_quoted_newlines = TRUE, 
        allow_jagged_rows = TRUE  
      );

  - id: bq_create_temp_table
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_tmp`
      AS
      SELECT
        MD5(CONCAT(
          COALESCE(CAST(LOCATION AS STRING), ""),
          COALESCE(CAST(SITE AS STRING), ""),
          COALESCE(CAST(SAMPLE_DATE AS STRING), ""),
          COALESCE(CAST(DEBRIS_TYPE AS STRING), ""),
          COALESCE(CAST(DEBRIS_DESCRIPTION AS STRING), ""),
          COALESCE(CAST(NO_ITEMS AS STRING), "")
        )) AS unique_row_id,
        "{{render(vars.file)}}" AS filename,
        *
      FROM `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_ext`;

  - id: bq_merge
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.beach_debris` T
      USING `{{kv('GCP_PROJECT_ID')}}.{{render(vars.table)}}_tmp` S
      ON T.unique_row_id = S.unique_row_id
      WHEN NOT MATCHED THEN
        INSERT (
          unique_row_id, filename, LOCATION, SITE,
          SEASON, SAMPLE_PERIOD, SAMPLE_DATE, DEBRIS_TYPE,
          DEBRIS_DESCRIPTION, NO_ITEMS, WEIGHT_KG,
          DEBRIS_SIZE, COMMENTS
        )
        VALUES (
          S.unique_row_id, S.filename, S.LOCATION, S.SITE,
          S.SEASON, S.SAMPLE_PERIOD, S.SAMPLE_DATE, S.DEBRIS_TYPE,
          S.DEBRIS_DESCRIPTION, S.NO_ITEMS, S.WEIGHT_KG,
          S.DEBRIS_SIZE, S.COMMENTS
        );

  - id: verify_load
    type: io.kestra.plugin.gcp.bigquery.Query
    sql: |
      SELECT
        COUNT(*) as total_rows,
        COUNT(DISTINCT LOCATION) as locations,
        COUNT(DISTINCT DEBRIS_TYPE) as debris_types,
        MIN(SAMPLE_DATE) as earliest_sample,
        MAX(SAMPLE_DATE) as latest_sample,
        SUM(NO_ITEMS) as total_items_found,
        SUM(WEIGHT_KG) as total_weight_kg
      FROM `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.beach_debris`

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    disabled: false

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{kv('GCP_CREDS')}}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"